$color-successful: #00cd00;
$color-unknown: #b0b0b0;
$color-failed: #e01838;

.wrapper {
  width: 100%;
  text-align: left;

  mat-card {
    width: 99%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 2px 3px #e0e0e0;


    mat-card-header {
      padding: 32px 32px 0;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      ::ng-deep .mat-card-header-text {
        display: none;
      }

      .titleBox {
        display: grid;
        grid-template-columns: 88px auto;
        grid-template-rows: 60px auto;
        margin-top: 20px;
        margin-left: 20px;


        mat-card-title {
          grid-column: 2;
          grid-row: 1;
          margin: 0;


          h1 {
            margin-top: 10px;
            margin-bottom: 0;
          }
        }

        mat-card-subtitle {
          grid-column: 2;
          grid-row: 2;
        }

        mat-icon {
          height: auto;
          width: auto;
          font-size: 68px;
          grid-column: 1;
          grid-row-start: span 2;
        }


        .successfulIcon {
          color: $color-successful;
        }

        .unknownIcon {
          color: $color-unknown;
        }

        .failedIcon {
          color: $color-failed;
        }
      }

      .historyButton {
        height: 36px;
      }
    }
  }
}

table {
  width: 100%;

  .pointerOnHover:hover {
    cursor: pointer;
  }

  .stateCell {
    padding: 0;
    width: 20px;

    .stateBar {
      height: 48px;
      width: 12px;
      box-shadow: 2px 0 2px #e0e0e0;
    }

    .failedRow {
      background-color: $color-failed;
    }

    .unknownRow {
      background-color: $color-unknown;
    }

    .successfulRow {
      background-color: $color-successful;
    }
  }

  .lastRevisionLabel {
    display: inline-block;
    margin-left: 24px;
    padding: 4px;
    font-size: 12px;
    background-color: #3f51b5;
    color: white;
    border-radius: 4px;
  }
}


mat-paginator {
  position: sticky;
  bottom: 0;
  box-shadow: 0 -2px 3px #e0e0e0;
}


.infoBar {
  width: 100%;
  box-sizing: border-box;
  line-height: 30px;
  position: sticky;
  top: 56px;
  background-color: white;
  box-shadow: 0 2px 3px #e0e0e0;
  padding-left: 40px;
  padding-top: 18px;
  padding-bottom: 8px;


  h4 {
    margin-bottom: 0;
  }

  .stateElement {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 10px;

    .label {
      margin-right: 4px;
      font-size: 14px;
      font-weight: bold;
    }

    .badge {
      display: inline-block;
      font-size: 14px;
    }

    .failed {
      color: $color-failed;
      border-color: $color-failed;
    }

    .successful {
      color: $color-successful;
      border-color: $color-successful;
    }
  }
}

.light {
  color: #747474;
}
