version: '2'
services:
  cassandra:
    image: cassandra
    volumes:
      - data:/var/lib/cassandra
    ports:
      - "9042:9042"

  backend:
    image: ybonjour/test-store-backend
    environment:
      - CASSANDRA_HOST=cassandra
      - CASSANDRA_PORT=9042
    ports:
      - "8080:8080"
    depends_on:
      - cassandra
      - migration

  web:
    image: ybonjour/test-store-web
    ports:
      - "80:80"

  migration:
    image: ybonjour/test-store-migration
    environment:
      - CASSANDRA_HOST=cassandra
      - CASSANDRA_PORT=9042
    depends_on:
      - cassandra

volumes:
  data:
    driver: local
