.header {
    background-color: #DDDDDD;
    width: 100%;
    float: left;
}

.header h1 {
    float: left;
    margin-left: 20px;
}

.header .failed {
    color: #AA0000;
}

.header .retried {
    color: #ffc520;
}

.header .passed {
    color: #00AA00;
}

.results-container {
    clear: left;
    float: left;
    margin-top: 20px;
    width: 100%;
}
ul.results {
    list-style: none;
    padding-left: 0px;
    width: 100%;
}

li.result {
    background-color: #EEEEEE;
    margin-top: 5px;
    display: block;
    float: left;
    clear: left;
    width:100%;
}


li.result .name,
li.try .name {
    float: left;
    font-weight: bold;
    padding-left: 5px;
    word-wrap: break-word;
    width: 100%;
}

li.result .duration,
li.try .duration
{
    float: right;
    padding-right: 5px;
}

li.passed {
    border-left: 10px solid #00AA00;
    border-bottom: 1px solid #00AA00;
}

li.failed {
    border-left: 10px solid #AA0000;
    border-bottom: 1px solid #AA0000;
}

ul.tries {
    list-style: none;
    clear: left;
    padding-left: 10px;
    padding-right: 10px;
}

li.try {
    padding-bottom: 10px;
}

li.try .title {
    border:1px solid #DDDDDD;
    clear: left;
    float:left;
    width: 100%;
    background: #FFFFFF;
}

li.try .stacktrace {
    clear: left;
    font-family: Courier;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 5px;
    word-wrap: break-word;
    padding-bottom: 10px;
}

div.height-limited {
    max-height: 250px;
    overflow: hidden;
}

