<div *ngIf="errorMessage">{{errorMessage}}</div>
<table>
    <thead>
        <tr>
            <th class="title">
                <h1>History</h1>
                <div class="controls">
                    <div class="hide-toggle">
                        <a (click)="togglePassed()" *ngIf="hidePassed">Show Passed</a>
                        <a (click)="togglePassed()" *ngIf="!hidePassed">Hide Passed</a>
                    </div>
                    <div class="limit-switcher">
                        <div class="limit-switcher-title">#Runs:</div>
                        <div class="limit-switcher-button" [class.active]="limit==25"><a (click)="setLimit(25)">25</a></div>
                        <div class="limit-switcher-button" [class.active]="limit==50"><a (click)="setLimit(50)">50</a></div>
                        <div class="limit-switcher-button" [class.active]="limit==100"><a (click)="setLimit(100)">100</a></div>
                    </div>
                </div>
            </th>
            <th class="rotate" *ngFor="let historyEntry of historyEntries">
                <div>
                    <span><a [routerLink]="['Results', {testsuite_id: testSuiteId, run_id: historyEntry.runId}]">{{historyEntry.getShortRevision()}}</a></span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let testName of testNames | historyFilterPassed:hidePassed">
            <td title="{{testName.longName}}" class="front">
                <a [routerLink]="['Test Details', {testsuite_id: testSuiteId, test_name: encode(testName.longName)}]">{{testName.shortName}}</a></td>
            <td class="result"
                *ngFor="let historyEntry of historyEntries"
                [ngClass]="{
            passed: historyEntry.results[testName.longName] == 'PASSED',
            failed: historyEntry.results[testName.longName] == 'FAILED',
            retried: historyEntry.results[testName.longName] == 'RETRIED'}"
                title="{{testName.longName}}@{{historyEntry.getShortRevision()}}"
                (click)="selectResult(historyEntry.runId, testName.longName)"
            >
                <div class="resultDetails" *ngIf="isCurrentResult(historyEntry.runId, testName.longName)">
                    <a (click)="unselectResult($event)">Close</a>
                    <test-results [results]="[currentResult]" [type]="currentResult.testResult"></test-results>
                </div>
            </td>
        </tr>
    </tbody>
</table>
