<h1>Runs</h1>

<ul class="runs">
    <li
            *ngFor="let run of runs"
            [ngClass]="{
                'passed': run.runResult=='PASSED',
                'retried': run.runResult=='PASSED_WITH_RETRIES',
                'failed': run.runResult=='FAILED',
                'unknwon': run.runResult=='UNKNOWN'}"
            class="run">
        <a class="title" [routerLink]="['Results', {testsuite_id: run.testSuite, run_id: run.id}]">{{run.time.toLocaleDateString()}}, {{run.time.toLocaleTimeString()}}</a>,
        <a [routerLink]="['Results Diff', {testsuite_id: run.testSuite, run_id: run.id}]">Diff</a>
        <div class="info">
            Total duration: <duration [durationMillis]="run.totalDurationMillis"></duration>, Revision: {{run.revision}}
        </div>
    </li>
</ul>

<a *ngIf="nextPage" (click)="more()">More</a>