.spacer {
  flex: auto;
}

button {
  margin-right: 6px;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}
.backButton {
  margin-right: 24px;
  font-size: 30px;
  margin-top: 10px;
}

.blocker {
  height: 56px;
}

mat-toolbar {
  height: 56px;
  min-width: 730px;
  position: fixed;
  z-index: 2;
  box-shadow: 0 1px 2px 0 #a2a3a5
}
