.header {
    background-color: #DDDDDD;
    width: 100%;
    float: left;
}

.header h1 {
    float: left;
    margin-left: 20px;
}

.header .failed {
    color: #AA0000;
}

.header .retried {
    color: #ffc520;
}

.header .passed {
    color: #00AA00;
}