.results-container {
    clear: left;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

ul.results {
    list-style: none;
    padding-left: 0px;
    width: 100%;
}

li.result {
    background-color: #EEEEEE;
    margin-top: 5px;
    display: block;
    float: left;
    clear: left;
    width:100%;
}

li.result .name,
li.try .name {
    float: left;
    font-weight: bold;
    padding-left: 5px;
    word-wrap: break-word;
    width: 100%;
}

.time {
    font-weight: normal;
    font-size: smaller;
    padding-left: 5px;
}

li.result .duration,
li.try .duration
{
    float: right;
    padding-right: 5px;
}

li.passed {
    border-left: 10px solid #00AA00 !important;
    border-bottom: 1px solid #00AA00 !important;
}

li.failed {
    border-left: 10px solid #AA0000 !important;
    border-bottom: 1px solid #AA0000 !important;
}

li.retried {
    border-left: 10px solid #ffc520 !important;
    border-bottom: 1px solid #ffc520 !important;
}

ul.tries {
    list-style: none;
    clear: left;
    padding-left: 10px;
    padding-right: 10px;
}

li.try {
    border:1px solid #DDDDDD;
    background: #FFFFFF;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

li.try .title {

    clear: left;
    float:left;
    width: 100%;
}

li.try .title .reason {
    border: 1px solid #DDDDDD;
}


li.try .title .reason span {
    border: 1px solid #DDDDDD;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

li.try .title .reason span.selected {
    font-weight: bold;
    background: #DDDDDD;
}

span.reason {
    cursor: pointer;
}

img.history-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}