<div *ngIf="errorMessage">{{errorMessage}}</div>
<a (click)="expanded = !expanded" class="heading">Changes:</a>
<div *ngIf="expanded">
<ul *ngIf="revisions.length > 0">
    <li *ngFor="let revision of revisions">
        {{revision.author}} - {{revision.comment}}
        (<a href="{{revision.url}}" *ngIf="revision.url">{{revision.getShortRevision()}}</a>, {{revision.time.toLocaleString()}}
        <span *ngIf="! revision.url">{{revision.getShortRevision()}}, {{revision.time.toLocaleString()}}</span>)
    </li>
</ul>
<div *ngIf="revisions.length == 0">No changes</div>
</div>
