<h1>{{testName}}</h1>

<h2 *ngIf="statistics">
    <span class="passed">{{statistics.numPassed}} Passed</span>,
    <span class="failed">{{statistics.numFailed}} Failed</span>
</h2>

<ul *ngFor="#result of results" class="results">
    <li title="{{result.run}}" [ngClass]="{passed: result.passed, failed: !result.passed}"></li>
</ul>

<base-chart *ngIf="durations" class="chart"
            [datasets]="[{data: durations, label: 'Duration'}]"
            [labels]="labels"
            [chartType]="'line'"></base-chart>